<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="Environment" value="NaStaging" />
    <add key="ClientId" value="0be9842c-ef6e-4efb-a0e0-f0069ca0b932" />
    <add key="ClientSecret" value="f641b0ce-285a-4a59-892d-32e8334a93f2" />
    <add key="RedirectUri" value="https://www.moj.io" />
  </appSettings>
</configuration>