Id,StartTimestamp,EndTimestamp,StartOdometer,EndOdometer,StartLocationLat,StartLocationLng,StartLocationAddress,EndLocationLat,EndLocationLng,EndLocationAddress
{{#Trips}}
	{{Id}},{{StartTimestamp}},{{EndTimestamp}},{{StartOdometer.Value}},{{EndOdometer.Value}},{{StartLocation.Lat}},{{StartLocation.Lng}},"{{StartLocation.Address.FormattedAddress}}",{{EndLocation.Lat}},{{EndLocation.Lng}},"{{EndLocation.Address.FormattedAddress}}"
{{/Trips}}