{
	"type": "FeatureCollection",
	"features": [
	{{#Trip}}
		{
			"type": "Feature",
			"geometry": {
				"type": "LineString",
				"coordinates": [
			      {{#Path}}
					[ {{Lng}},{{Lat}} ],
				{{/Path}}
				]
			},
			"properties": {
				"prop0": "value0",
				"prop1": 0.0
			}
		},
	{{/Trip}}
	]
}

				
